@using Blog.Entities;
@model BlogPost

  <!-- Page Header-->
<style>
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 320px;
        border: none;
        box-shadow: none;
    }

        .ck-editor__editable[role="textbox"]:focus {
            /* editing area */
            box-shadow: none;
        }

    .ck.ck-editor {
        /* editing area */
        border: none;
        box-shadow: none;
    }

    .item {
        display: inline-block;
    }

    .ck-toolbar {
        border: none;
    }
</style>
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg'); height:100px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="modal fade bd-example-modal-lg" id="examplemodal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <form method="post" action="">
                    <div class="form-group" style="white-space:nowrap">
                        @Html.TextBoxFor(a => a.Image, new { @id="fileInput", @required="required",@type="file",@style="display:none;" ,@accept="image/*"})
                        <button id="openFileButton" class="btn btn-outline-dark btn-sm mb-3 item">Add a cover image</button>
                        <button id="change" class="btn btn-outline-secondary btn-sm mb-3 item" style="display:none;">Change</button>
                        <button id="delete" class="btn btn-outline-danger btn-sm mb-3 item" style="display:none;">Delete</button>
                        <img id="selectedImage" class="item" style="display:none;  height:150px; width:120px;" src="" alt="Selected Image">
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.Title, 
                                    new { @class = "form-control shadow-none post-title", 
                                    @required="required",@placeholder="New post title here...",
                        @style="border:none; font-size:2.25rem; font-weight:bold;"})
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(a=> a.Content,new {@class="form-control",@id="description"})
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="submit" class="btn btn-dark">Post</button>
            </div>
        </div>
    </div>>
</div>
</div>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 18, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>
                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on August 24, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Failure is not an option</h2>
                    <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on July 8, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>


</div>
@section Scripts{
    <script>
        ClassicEditor
            .create(document.querySelector('#description'))
            .catch(error => {
                console.error(error);
            });

        const fileInput = document.getElementById('fileInput');
        const openFileButton = document.getElementById('openFileButton');
        const selectedImage = document.getElementById('selectedImage');
        const changeButton = document.getElementById('change');
        const deleteButton = document.getElementById('delete');
        const reader = new FileReader();
        openFileButton.addEventListener('click', () => {
            fileInput.click();
        });

        fileInput.addEventListener('change', (e) => {
            const file = e.target.files[0];

            if (file) {
                reader.onload = (event) => {
                    selectedImage.src = event.target.result;
                    selectedImage.style.display = 'block';
                    openFileButton.style.display = 'none';
                    changeButton.style.display = 'inline-block';
                    deleteButton.style.display = 'inline-block';
                };

                reader.readAsDataURL(file);
            } else {
                selectedImage.src = '';
            }
        });
        changeButton.addEventListener('click', () => {
            fileInput.click();
        });

        deleteButton.addEventListener('click', () => {
            selectedImage.src = '';
            fileInput.value='';
            selectedImage.style.display = 'none';
            openFileButton.style.display = 'block';
            changeButton.style.display = 'none';
            deleteButton.style.display = 'none';
        });
    </script>
}
